ul.themes(class= isPost ? ` post__themes` : ``)
  each category in categories
    li.themes__item
      if activeCategoryId == category.id
        a.themes__item-link.themes__item-link--active(href=`/categories/${category.id}`)
          | #{category.name}
          //- sup 88 // TODO здесь кажется должно быть количество статей, которые относятся к данной теме - категории
      else
        a.themes__item-link(href=`/categories/${category.id}`)
          | #{category.name}
          //- sup 88 // TODO здесь кажется должно быть количество статей, которые относятся к данной теме - категории
          button.themes__remove-btn(type='button') Удалить категорию
